In [1]:
print("hello")

hello

In [2]:
pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.2.6-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\manan\onedrive - msft\desktop\krisha\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\manan\onedrive - msft\desktop\krisha\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
Using cached numpy-2.2.6-cp313-cp313-win_amd64.whl (12.6 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.6 pandas-2.2.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('data/blinkit_order_items.csv')

In [5]:
data.head()

     order_id  product_id  quantity  unit_price
0  1961864118      642612         3      517.03
1  1549769649      378676         1      881.42
2  9185164487      741341         2      923.84
3  9644738826      561860         1      874.78
4  5427684290      602241         2      976.55

In [6]:
data.shape

(5000, 4)

In [7]:
data.tail()

        order_id  product_id  quantity  unit_price
4995  1669690997      925482         3      475.04
4996  8340761903      124290         2       39.65
4997  5936301790      491314         3      973.44
4998  5710579377      319388         2      657.80
4999  2494813730      136533         1      826.21

In [8]:
data.describe()

           order_id     product_id     quantity   unit_price
count  5.000000e+03    5000.000000  5000.000000  5000.000000
mean   5.029129e+09  509974.939600     2.006800   493.157900
std    2.863533e+09  293678.307475     0.820542   298.075647
min    6.046500e+04    4452.000000     1.000000    12.320000
25%    2.531421e+09  257719.000000     1.000000   227.220000
50%    5.074378e+09  540618.000000     2.000000   448.160000
75%    7.488579e+09  747801.000000     3.000000   781.080000
max    9.998298e+09  993331.000000     3.000000   995.980000

checking for null values in data set

In [23]:
null_count = data.isnull().sum()

In [24]:
print(null_count)

order_id      0
product_id    0
quantity      0
unit_price    0
dtype: int64