In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("data/blinkit_inventory.csv")
df

       product_id        date  stock_received  damaged_stock
0          153019  17-03-2023               4              2
1          848226  17-03-2023               4              2
2          965755  17-03-2023               1              0
3           39154  17-03-2023               4              0
4           34186  17-03-2023               3              2
...           ...         ...             ...            ...
75167      298985  05-11-2024               3              0
75168      679284  05-11-2024               3              0
75169      240179  05-11-2024               3              0
75170      673058  05-11-2024               3              2
75171      114414  05-11-2024               3              0

[75172 rows x 4 columns]

In [3]:
# Group by 'product_id' and sum the other columns
grouped_df = df.groupby('product_id', as_index=False).agg({
    'stock_received': 'sum',
    'damaged_stock': 'sum'
})

# Calculate damaged stock percentage
grouped_df['damaged_percentage'] = (grouped_df['damaged_stock'] / grouped_df['stock_received']) * 100

# Optional: Round the percentage to 2 decimal places
grouped_df['damaged_percentage'] = grouped_df['damaged_percentage'].round(2)

# Display result
print(grouped_df)

     product_id  stock_received  damaged_stock  damaged_percentage
0          4452             705            302               42.84
1          6405             556            280               50.36
2          9436             322            286               88.82
3         11422             482            298               61.83
4         14145             542            292               53.87
..          ...             ...            ...                 ...
263      970529             553            280               50.63
264      990993             446            296               66.37
265      991434             535            322               60.19
266      992178             673            314               46.66
267      993331             459            304               66.23

[268 rows x 4 columns]

In [7]:
# Step 1: Group by product_id and sum the columns
grouped_df = df.groupby('product_id', as_index=False).agg({
    'stock_received': 'sum',
    'damaged_stock': 'sum'
})

# Step 2: Calculate damaged percentage
grouped_df['damaged_percentage'] = (grouped_df['damaged_stock'] / grouped_df['stock_received']) * 100
grouped_df['damaged_percentage'] = grouped_df['damaged_percentage'].round(2)

# Step 3: Save the result back to CSV (new file with grouped results)
grouped_df.to_csv("product_damaged_percentage.csv", index=False)