In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/blinkit_order_items.csv")

In [3]:
df

        order_id  product_id  quantity  unit_price
0     1961864118      642612         3      517.03
1     1549769649      378676         1      881.42
2     9185164487      741341         2      923.84
3     9644738826      561860         1      874.78
4     5427684290      602241         2      976.55
...          ...         ...       ...         ...
4995  1669690997      925482         3      475.04
4996  8340761903      124290         2       39.65
4997  5936301790      491314         3      973.44
4998  5710579377      319388         2      657.80
4999  2494813730      136533         1      826.21

[5000 rows x 4 columns]

In [15]:
# Make sure column names are clean (optional)
df.columns = df.columns.str.strip().str.lower()

# Create the new column 'order_value'
df['order_value'] = df['quantity'] * df['unit_price'].round(2)

# Display the updated DataFrame
print(df)
df.to_csv("order_item.csv", index=False)

        order_id  product_id  quantity  unit_price  order_value
0     1961864118      642612         3      517.03      1551.09
1     1549769649      378676         1      881.42       881.42
2     9185164487      741341         2      923.84      1847.68
3     9644738826      561860         1      874.78       874.78
4     5427684290      602241         2      976.55      1953.10
...          ...         ...       ...         ...          ...
4995  1669690997      925482         3      475.04      1425.12
4996  8340761903      124290         2       39.65        79.30
4997  5936301790      491314         3      973.44      2920.32
4998  5710579377      319388         2      657.80      1315.60
4999  2494813730      136533         1      826.21       826.21

[5000 rows x 5 columns]

In [13]:
grouped_df = df.groupby(['product_id', 'order_id'], as_index=False).agg({
    'quantity': 'sum',
    'unit_price': 'sum',
    'order_value': 'sum'
})

In [14]:
grouped_df.to_csv("order_item.csv", index=False)

In [9]:
order_item.df

     product_id  unique_order_count
0          4452                  23
1          6405                  18
2          9436                  21
3         11422                  15
4         14145                  21
..          ...                 ...
263      970529                  21
264      990993                  17
265      991434                  20
266      992178                  29
267      993331                  13

[268 rows x 2 columns]

In [ ]:
# Optional: clean column names
df.columns = df.columns.str.strip().str.lower()

# Group by product_id and count unique order_ids
grouped_df = df.groupby('product_id')['order_id'].nunique().reset_index()

# Rename the column
grouped_df.rename(columns={'order_id': 'unique_order_count'}, inplace=True)

# Display result
print(grouped_df)

# Optional: save to CSV