In [4]:
for fruit in ['apple','banana','cherry']:
    print("here is a fruit:",fruit)

here is a fruit: apple
here is a fruit: banana
here is a fruit: cherry

In [7]:
person = {
    'name':'john doe',
    'sex':'male',
    'age':32
}
for key in person:
    print("key:",key,",","value:",person[key])

key: name , value: john doe
key: sex , value: male
key: age , value: 32

In [8]:
for value in person.values():
    print(value)

john doe
male
32

In [9]:
for key_value_pair in person.items():
    print(key_value_pair)

('name', 'john doe')
('sex', 'male')
('age', 32)

In [11]:
for key,value in person.items():
    print("key:",key,",","value:",value)

key: name , value: john doe
key: sex , value: male
key: age , value: 32

In [15]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [16]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [17]:
for i in range(3,14,4):
    print(i)

3
7
11

In [18]:
a_list = ['monday','tuesday','wednesday','thursday','friday']
for i in range(len(a_list)):
    print('the value at position {} is {}.'.format(i,a_list[i]))

the value at position 0 is monday.
the value at position 1 is tuesday.
the value at position 2 is wednesday.
the value at position 3 is thursday.
the value at position 4 is friday.

In [20]:
for i,val in enumerate(a_list):
    print('the value at position {} is {}.'.format(i,val))

the value at position 0 is monday.
the value at position 1 is tuesday.
the value at position 2 is wednesday.
the value at position 3 is thursday.
the value at position 4 is friday.

In [48]:
weekdays = ['monday','tuesday','wednesday','thursday','friday']

In [49]:
for day in weekdays:
    print('today is {}'.format(day))
    if(day == 'wednesday'):
       print("i don't work beyond wednesday!")
       break

today is monday
today is tuesday
today is wednesday
i don't work beyond wednesday!

In [50]:
for day in weekdays:
    if(day == 'wednesday'):
       print("i don't work beyond wednesday!")
       continue
    print('today is {}'.format(day))

today is monday
today is tuesday
i don't work beyond wednesday!
today is thursday
today is friday

In [54]:
 persons =[{'name':'john','sex':'male'}, {'name':'jalpa','sex':'female'}]
for person in persons:
    for key in person:
        print(key,":",person[key])
        print("")

IndentationError: unexpected indent (3163396963.py, line 1)

In [55]:
days=['monday','tuesday','wednesday','thursday','friday']
fruits=['apple','banana','cherry']
for day in days:
    for fruit in fruits:
        print(day,fruit)

monday apple
monday banana
monday cherry
tuesday apple
tuesday banana
tuesday cherry
wednesday apple
wednesday banana
wednesday cherry
thursday apple
thursday banana
thursday cherry
friday apple
friday banana
friday cherry

In [56]:
today = "saturday"
print("today is",today)

today is saturday

In [61]:
say_hello()

hello there!
how are you?

In [62]:
def filter_even(number_list):
    result_list = []
    for number in number_list:
        if number % 2 == 0:
            result_list.append(number)
        return result_list

In [63]:
even_list = filter_even([1,2,3,4,5,6,7])

In [64]:
even_list

[]